<tr>
  <td><%= course.courseName %></td>
  <td><%= course.author %></td>
  <td style="width: 100px; height: 45px; overflow: hidden; position: relative;" >
    <img style="max-width: 100%; position: absolute; left: 0; top: 0; right: 0; bottom: 0; margin:auto" src="/img/<%- course.cover %>" alt="cover">
  </td>
  <td><%= course.created_at %></td>
  <td><%= course.price %></td>

  <td class="courseUser"><%= course.courseUser %></td>
  <td width="300"><%= course.description %></td>
  <td>
    <button class="ui primary basic button"><a href="/admin/<%= course._id %>/courseEdit">编辑</a></button>
    <button class="ui negative basic button"><a href="/admin/<%= course._id %>/courseRemove" style="color: red">删除</a></button>
  </td>
</tr>

<script>
  var amount = '<%= course.courseUser %>'
  var amountArr = amount.split(",")
  var amountArrLength = amountArr.length

  if(amountArr[0] === ""){
    amountArrLength = amountArrLength - 1
}
  $(".courseUser").replaceWith(`<td>${amountArrLength}</td>`)
</script>
