<tr>
  <td><%= user.name %></td>
  <td style="width: 100px; height: 45px; overflow: hidden; position: relative;">
    <img style="max-width: 100%; position: absolute; left: 0; top: 0; right: 0; bottom: 0; margin:auto" src="/img/<%= user.avatar %>" alt="cover">
  </td>
  <td class="gender"><%= user.gender %></td>
  <td width="300"><%= user.bio %></td>
  <td>
    <button class="ui primary basic button"><a href="/admin/<%= user._id %>/courseEdit">编辑</a></button>
    <button class="ui negative basic button"><a href="/admin/<%= user._id %>/courseRemove" style="color: red">删除</a></button>
  </td>
</tr>
<script>
// 把全部性别变成数组
// 遍历， 若是f 则替换成女
if($('.gender').text() === 'f') {
  $('.gender').replaceWith('<td class="sex">女</td>')
} else if ($('.gender').text() === 'x') {
  $('.gender').replaceWith('<td class="sex">保密</td>')
} else {
  $('.gender').replaceWith('<td class="sex">男</td>')
}

</script>
