<!-- <% if (user && course.author._id && user._id.toString() === course.author._id.toString()) { %>
<div class="ui inline dropdown">
  <div class="text"></div>
  <i class="dropdown icon"></i>
  <div class="menu">
    <div class="item"><a href="/courses/<%= course._id %>/edit">编辑</a></div>
    <div class="item"><a href="/courses/<%= course._id %>/remove">删除</a></div>
  </div>
</div>
<% } %> -->
  <div class="ui card">
    <div class="image">
      <div class="ui blurring inverted dimmer">
        <div class="content">
          <div class="center">
            <% if (user) { %>
              <div class="ui teal button"><a href="/mall/<%= course._id %>">购买</a></div>
            <% } else if (course.courseUser === userId) { %>
              <div class="ui teal button"><a href="">观看</a></div>
            <% } else { %>
              <div class="ui teal button" style="background-color: #ccc !important;">未登录</div>
            <% } %>
          </div>
        </div>
      </div>
      <img src="/img/<%= course.cover %>">
    </div>
    <div class="content">
      <div class="header"><%= course.courseName %></div>
      <div class="meta">
        <a class="group">作者：<%= course.author %></a>
      </div>
      <div class="description"><%- course.description %></div>
    </div>
  </div>
