<%- include('header') %>
<%- include('components/adminHeader') %>
<div class="ui secondary menu" style="margin: 0px 4px 0px 6px; float: left;">
  <div class="active item">表格</div>
  <div onclick=replaceImg() class="item" style="cursor: pointer">统计图</div>
</div>


<div style= "margin-top: 2px" class="course-tabel">
    <div class="clearfix">
      <button class="ui blue button" style="float: right;">
        <a class="item" style="color: #fff" href="/createCourse">
          创建课程
        </a>
      </button>
    </div>
    <table class="ui celled table" id="table">
      <thead>
        <tr>
          <th>课程名称</th>
          <th>作者</th>
          <th>封面</th>
          <th>创建时间</th>
          <th>价格</th>
          <th>已参加人数</th>
          <th>课程详情</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <% course.forEach(function (course) {%>
          <%- include('components/admin-courseContent', { course: course }) %>
        <% }) %>
      </tbody>
    </table>
  </div>


  <% course.forEach(function(item) { %>
    <li class="courseNames" style="display: none;"><%=item.courseName %></li>
  <% }) %>
  <% course.forEach(function(item) { %>
    <li class="courseManNumber" style="display: none;"><%=item.courseUser.length %></li>
  <% }) %>
  <!-- 这段循环是为了创建出不显示的Dom以做统计图 -->

<script type="text/javascript">
let a = document.querySelectorAll('a')
for(var i = 0; i < a.length; i++) {
  if(a[i].pathname === window.location.pathname){
    a[i].classList.add('active')
  }
}

var liManNumberArr = document.getElementsByClassName('courseManNumber') // 获取课程人数数组
var manNumberArr = []
for(var i=0; i<liManNumberArr.length; i++) {
  manNumberArr.push(liManNumberArr[i].textContent)
}

var lisArr = document.getElementsByClassName('courseNames') // 获取课程标题数组
var courseNamesArr = []
for(var i=0; i<lisArr.length; i++) {
  courseNamesArr.push(lisArr[i].textContent)
}
// var dataTem = {axisLabel:{interval: 0,rotate:25}, data: courseNamesArr}

function replaceImg() {
  $('#table').replaceWith(imgWrapper)
  var mainWrapper = document.getElementById("main")
  var newScript = document.createElement('script');
  newScript.type = 'text/javascript';
  newScript.innerHTML = echartsJs;
  mainWrapper.appendChild(newScript);
}
var imgWrapper = `<div id="main" style="width: 600px;height:400px; margin: 0 auto"></div>`;
var echartsJs = `
var myChart = echarts.init(document.getElementById('main'));
var option = {title: {text: '购买人数统计图'},
    tooltip: {},
    legend: {data:['参加人数']},
    xAxis: {axisLabel:{interval: 0,rotate:25}, data: courseNamesArr},
    yAxis: {},
    series: [{name: '参加人数',type: 'bar',data: manNumberArr}]};
myChart.setOption(option);
`
</script>
<%- include('footer') %>
