<%- include('header') %>
<%- include('components/adminHeader') %>
<div class="ui secondary menu" style="margin: 0px 4px 0px 6px; float: left;">
  <div class="active item">表格</div>
  <div onclick=replaceImg() class="item">统计图</div>
</div>
<div style= "margin-top: 2px" class="course-tabel">
  <table class="ui celled table"id="table">
    <thead>
      <tr>
        <th>帖子名称</th>
        <th>作者</th>
        <th>内容</th>
        <th>创建时间</th>
        <th>浏览量</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% posts.forEach(function (post) { %>
        <%- include('components/admin-postsContent', { post: post }) %>
      <% }) %>
    </tbody>
  </table>
</div>
</div>

<% posts.forEach(function(item) { %>
  <li class="postNames" style="display: none;"><%=item.title %></li>
<% }) %>
<% posts.forEach(function(item) { %>
  <li class="postPvs" style="display: none;"><%=item.pv %></li>
<% }) %>

<script>
let a = document.querySelectorAll('a')
for(var i = 0; i < a.length; i++) {
  if(a[i].pathname === window.location.pathname){
    a[i].classList.add('active')
  }
}

var liPostNames = document.getElementsByClassName('postNames') // 获取课程人数数组
var postNamesArr = []
for(var i=0; i<liPostNames.length; i++) {
  postNamesArr.push(liPostNames[i].textContent)
}

var liPostPvs = document.getElementsByClassName('postPvs') // 获取课程标题数组
var liPostPvsArr = []
for(var i=0; i<liPostPvs.length; i++) {
  liPostPvsArr.push(liPostPvs[i].textContent)
}


function replaceImg() {
  $('#table').replaceWith(imgWrapper)
  var mainWrapper = document.getElementById("main")
  var newScript = document.createElement('script');
  newScript.type = 'text/javascript';
  newScript.innerHTML = echartsJs;
  mainWrapper.appendChild(newScript);
}
var imgWrapper = `<div id="main" style="width: 600px;height:400px; margin: 0 auto"></div>`;
var echartsJs = `
var myChart = echarts.init(document.getElementById('main'));
option = {
    title: {
        text: '论坛浏览量统计图'
    },
    tooltip: {},
    legend: {
        data:['浏览量']
    },
    xAxis: {axisLabel:{interval: 0,rotate:25},data: postNamesArr},
    yAxis: {},
    series: [{
        name: '浏览量',
        type: 'bar',
        data: liPostPvsArr
    }]
};
myChart.setOption(option);`
</script>
<%- include('footer') %>
