<%- include('header') %>

<style>
.answer {
  margin-left: 6px;
  padding-bottom: 2px;
}
</style>

<div class="ui grid">
  <div class="four wide column">

  </div>

  <div class="eight wide column">
    <!-- 不加multipart/form-data 上传文件会报错 -->
    <form
      class="ui form segment"
      enctype="multipart/form-data"
      method="post"
      action="/admin/<%= course._id %>/courseEdit">
      <div class="field required">
        <label>课程名</label>
        <input type="text" name="courseName" value="<%= course.courseName %>">
      </div>
      <div class="field required">
        <label>课程封面</label>
        <input type="file" name="editCover">
      </div>
      <div class="field required">
        <label>课程视频</label>
        <input type="file" name="editVedio">
        <input type="file" name="editVedio2">
        <input type="file" name="editVedio3">
        <input type="file" name="editVedio4">
      </div>


      <div class="field required"><label>课堂作业</label>
        <span>问题1</span><input class="question" placeholder="问题1" type="text" name="question">
        <span>答案1</span><input name="answerRadio" type="radio" value="answer1"/><input class="answer" placeholder="答案1" type="text" name="answer1">
        <span>答案2</span><input name="answerRadio" type="radio" value="answer2"/><input class="answer" placeholder="答案2" type="text" name="answer2">
        <span>答案3</span><input name="answerRadio" type="radio" value="answer3"/><input class="answer" placeholder="答案3" type="text" name="answer3">
        <span>答案4</span><input name="answerRadio" type="radio" avalue="answer4"/><input class="answer" placeholder="答案4" type="text" name="answer4">

        <label>问题2</label><input class="question" placeholder="问题2" type="text" name="question2">
        <span>答案1</span><input name="answerRadio2" type="radio" value="answer5"/><input class="answer" placeholder="答案1" type="text" name="answer5">
        <span>答案2</span><input name="answerRadio2" type="radio" value="answer6"/><input class="answer" placeholder="答案2" type="text" name="answer6">
        <span>答案3</span><input name="answerRadio2" type="radio" value="answer7"/><input class="answer" placeholder="答案3" type="text" name="answer7">
        <span>答案4</span><input name="answerRadio2" type="radio" value="answer8"/><input class="answer" placeholder="答案4" type="text" name="answer8">

        <label>问题3</label><input class="question" placeholder="问题3" type="text" name="question3">
        <span>答案1</span><input name="answerRadio3" type="radio" value="answer9"/><input class="answer" placeholder="答案1" type="text" name="answer9">
        <span>答案2</span><input name="answerRadio3" type="radio" value="answer10"/><input class="answer" placeholder="答案2" type="text" name="answer10">
        <span>答案3</span><input name="answerRadio3" type="radio" value="answer11"/><input class="answer" placeholder="答案3" type="text" name="answer11">
        <span>答案4</span><input name="answerRadio3" type="radio" value="answer12"/><input class="answer" placeholder="答案4" type="text" name="answer12">

        <label>问题4</label><input class="question" placeholder="问题4" type="text" name="question4">
        <span>答案1</span><input name="answerRadio4" type="radio" value="answer13"/><input class="answer" placeholder="答案1" type="text" name="answer13">
        <span>答案2</span><input name="answerRadio4" type="radio" value="answer14"/><input class="answer" placeholder="答案2" type="text" name="answer14">
        <span>答案3</span><input name="answerRadio4" type="radio" value="answer15"/><input class="answer" placeholder="答案3" type="text" name="answer15">
        <span>答案4</span><input name="answerRadio4" type="radio" value="answer16"/><input class="answer" placeholder="答案4" type="text" name="answer16">

      </div>

      <div class="field required">
        <label>价格</label>
        <input placeholder="价格" type="number" name="price" value="<%= course.price %>">
        </div>
      <div class="field required">
        <label>作者</label>
        <input type="text" name="author" value="<%= course.author %>" value="<%= course.author %>">
      </div>
      <div class="field required">
        <label>详情</label>
        <textarea name="description" rows="8"><%= course.description %></textarea>
      </div>
      <input type="submit" class="ui button" value="发布">
    </form>
  </div>
</div>

<script>
let questions = "<%= course.taskQuetion %>"
let questionArray = questions.split(',')
let questionWrapperArray = $('.question')
for(var i = 0; i < questionWrapperArray.length; i++) {
  questionWrapperArray[i].value = `${questionArray[i]}`
}

let answers = "<%= course.taskAnswer %>"
let answersArray = answers.split(',')
console.log(answersArray)
let answersWrapperArray = $('.answer')
console.log(answersWrapperArray)
for(var i = 0; i < answersWrapperArray.length; i++) {
  answersWrapperArray[i].value = `${answersArray[i]}`
}



</script>

<%- include('footer') %>
