<%- include('header') %>

<style>
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
/* General Buttons */
button {
  width: 130px;
  height: 40px;
  background: linear-gradient(to bottom, #4eb5e5 0%,#389ed5 100%); /* W3C */
  border: none;
  border-radius: 5px;
  position: relative;
  border-bottom: 4px solid #2b8bc6;
  color: #fbfbfb;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 1px 1px 1px rgba(0,0,0,.4);
  font-size: 15px;
  text-align: left;
  text-indent: 5px;
  box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2);
  cursor: pointer;
  outline: none;

/* Just for presentation */
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
button:active {
  box-shadow: 0px 2px 0px 0px rgba(0,0,0,.2);
  top: 1px;
}

button:after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  border-top: 20px solid #187dbc;
  border-bottom: 20px solid #187dbc;
  border-left: 16px solid transparent;
  border-right: 20px solid #187dbc;
  position: absolute;
  opacity: 0.6;
  right: 0;
  top: 0;
  border-radius: 0 5px 5px 0;
}

/* Single buttons */

button.site {
  float: left;
  margin: 0px 14px 14px;
  width: 40px;
  text-align: center;
  text-indent: 0;
}
button.site:after{
  display: none;
}

</style>

<style>
body {
  position: relative;
}
.buy{
  max-width: 700px;
  margin: 0 auto;
  padding-left: 40px;
}
ul{
  list-style: none;
  margin: 14px 0px 0px 0px;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
}

li {
  margin-bottom: 6px;
}

</style>
<script>
let leftWrapper =`
<div class="LeftWrapper"
    style="
      width: 200px;
      background: #ddd;
      position: absolute;
      top: 0px;
      left: 0px;
      min-height: 100%;
      height: auto;
      padding-bottom: 999px;
      margin-bottom: -999px;
      overflow: hidden">
  <h2 style="text-align: center; margin-top: 30px;"><%= course.courseName %></h2>
  <div className="imgWrapper" style="margin: 0 auto; width: 150px; border-radius: 2px; overflow: hidden;">
    <img src="/img/<%= course.cover %>" style="width: 100%; border-radius: 6px;"/>
  </div>
  <div style="border-radius: 6px; margin-top: 20px;">
    <div class="changeCourse" onclick=replaceVedio() style="cursor:pointer; margin:0 auto; text-align: center; height: 40px; line-height: 36px; font-size: 18px; width: 98%; background: #eee; border-bottom: 1px solid #efefef">视频课件</div>
    <div class="changeTask" onclick=replaceTask() style="cursor:pointer; margin:0 auto; text-align: center; height: 40px; line-height: 36px; font-size: 18px; width: 98%; background: #fff;">课堂作业</div>
    <div style="color: #859295; font-size: 14px; padding: 0px 14px;">详情：<%- course.description %></div>
  </div>
</div>
`
document.getElementsByTagName('body')[0].innerHTML += leftWrapper
</script>
<div class="buy">
  <h1><%= course.courseName %></h1>
  <div className="imgWrapper" style="border: 2px solid #ccc; border-radius: 4px; width: 500px; height: 220px; border-radius: 2px; overflow: hidden;">
    <img src="/img/<%= course.cover %>" style="width: 100%;"/>
  </div>
  <ul>
    <li>作者：<%= course.author %></li>
    <li style="color: #859295; font-size: 14px">详情：<%- course.description %></li>
    <li>购买价格：￥<%- course.price %></li>
    <li class="buyAmount"></li>
    <li style="color: red">提示：此课程你还未参加，请点击按钮立即参加</li>
  </ul>
  <div class="ui vertical animated button" tabindex="0">
    <div class="hidden content">
      <form method="post">
        <input type="submit" class="ui button" value="支付">
      </form>
    </div>
    <div class="visible content">
        <i class="shop icon"></i>
    </div>
  </div>
</div>

<script>
// 作业代码
let questionArray = '<%= course.taskQuetion %>'.split(',')

let answerRadioArray = '<%= course.answerRadio %>'.split(',')

let answersArray = '<%= course.taskAnswer %>'.split(',')

var json = '<%= course.courseUser %>'

let vedioArray = '<%= course.vedio %>'.split(',')
var vedio = `
<div class="right">
<div class="courseNav" style="
    margin: 30px auto 60px;
    overflow: hidden;
    width: 480px;">
  <button class="site" onclick=backVedio1()>1</button>
  <button class="site" onclick=replaceVedio2()>2</button>
  <button class="site" onclick=replaceVedio3()>3</button>
  <button class="site" onclick=replaceVedio4()>4</button>
</div>
<div class="vidioWrapper" style="width: 620px; margin: 0 auto; text-align: center">
  <video width="600" controls>
    <source src="/img/${vedioArray[0]}" type="video/mp4">
    您的浏览器不支持 HTML5 video 标签
  </video>
</div>
</div>
`
var backVedio = `
<div class="vidioWrapper" style="width: 620px; margin: 0 auto; text-align: center">
  <video width="600" controls>
    <source src="/img/${vedioArray[0]}" type="video/mp4">
    您的浏览器不支持 HTML5 video 标签
  </video>
</div>
</div>
`

var vedio2 = `
<div class="vidioWrapper" style="width: 620px; margin: 0 auto; text-align: center">
  <video width="600" controls>
    <source src="/img/${vedioArray[1]}" type="video/mp4">
    您的浏览器不支持 HTML5 video 标签
  </video>
</div>
`
var vedio3 = `
<div class="vidioWrapper" style="width: 620px; margin: 0 auto; text-align: center">
  <video width="600" controls>
    <source src="/img/${vedioArray[2]}" type="video/mp4">
    您的浏览器不支持 HTML5 video 标签
  </video>
</div>
`
var vedio4 = `
<div class="vidioWrapper" style="width: 620px; margin: 0 auto; text-align: center">
  <video width="600" controls>
    <source src="/img/${vedioArray[3]}" type="video/mp4">
    您的浏览器不支持 HTML5 video 标签
  </video>
</div>
`

const courseTask = `
<div class="courseTask" style="margin: 0px auto; max-width: 700px">
  <h1 style="">课堂作业</h1>
  <h4 style="">${questionArray[0]}</h4>
  <div class="answerWrapper" style="margin: 0 auto">
    <p><input type="radio" name="choose" data-type="answer1" style="margin-right: 8px;"/>${answersArray[0]}</p>
    <p><input type="radio" name="choose" data-type="answer2" style="margin-right: 8px;"/>${answersArray[1]}</p>
    <p><input type="radio" name="choose" data-type="answer3" style="margin-right: 8px;"/>${answersArray[2]}</p>
    <p><input type="radio" name="choose" data-type="answer4" style="margin-right: 8px;"/>${answersArray[3]}</p>
  </div>
  <h4 style="">${questionArray[1]}</h4>
  <div class="answerWrapper" style="margin: 0 auto">
    <p><input type="radio" name="choose2" data-type="answer5" style="margin-right: 8px;"/>${answersArray[4]}</p>
    <p><input type="radio" name="choose2" data-type="answer6" style="margin-right: 8px;"/>${answersArray[5]}</p>
    <p><input type="radio" name="choose2" data-type="answer7" style="margin-right: 8px;"/>${answersArray[6]}</p>
    <p><input type="radio" name="choose2" data-type="answer8" style="margin-right: 8px;"/>${answersArray[8]}</p>
  </div>
  <h4 style="">${questionArray[2]}</h4>
  <div class="answerWrapper" style="margin: 0 auto">
    <p><input type="radio" name="choose3" data-type="answer9" style="margin-right: 8px;"/>${answersArray[8]}</p>
    <p><input type="radio" name="choose3" data-type="answer10" style="margin-right: 8px;"/>${answersArray[9]}</p>
    <p><input type="radio" name="choose3" data-type="answer11" style="margin-right: 8px;"/>${answersArray[10]}</p>
    <p><input type="radio" name="choose3" data-type="answer12" style="margin-right: 8px;"/>${answersArray[11]}</p>
  </div>
  <h4 style="">${questionArray[3]}</h4>
  <div class="answerWrapper" style="margin: 0 auto">
    <p><input type="radio" name="choose4" data-type="answer13" style="margin-right: 8px;"/>${answersArray[12]}</p>
    <p><input type="radio" name="choose4" data-type="answer14" style="margin-right: 8px;"/>${answersArray[13]}</p>
    <p><input type="radio" name="choose4" data-type="answer15" style="margin-right: 8px;"/>${answersArray[14]}</p>
    <p><input type="radio" name="choose4" data-type="answer16" style="margin-right: 8px;"/>${answersArray[15]}</p>
  </div>
  <button onclick=submitTask() style="margin-top: 20px;">提交</button>
</div>
`
// 判断看看里面的data atributte 是否和 数据库的答案相等
let score = 0

function submitTask() {
  let inputArr = document.querySelectorAll('input')
  for (var i = 0; i < 4; i++) {
    if (inputArr[i].checked == true) {
      if(inputArr[i].dataset.type === answerRadioArray[0]){
        score+= 25
        break;
      }else {
        $('.courseTask').find('p')[i].style.background="pink"
        $('.courseTask').find('p')[i].innerHTML += "错误"
        break;
      }
    }
  }
  for (var i = 4; i < 8; i++) {
    if (inputArr[i].checked == true) {
      if(inputArr[i].dataset.type === answerRadioArray[1]){
        score+= 25
        break;
      }else {
        $('.courseTask').find('p')[i].style.background="pink"
        $('.courseTask').find('p')[i].innerHTML += "错误"
        break;
      }
    }
  }
  for (var i = 8; i < 12; i++) {
    if (inputArr[i].checked == true) {
      if(inputArr[i].dataset.type === answerRadioArray[2]){
        score+= 25
        break;
      }else {
        $('.courseTask').find('p')[i].style.background="pink"
        $('.courseTask').find('p')[i].innerHTML += "错误"
        break;
      }
    }
  }
  for (var i = 12; i < 16; i++) {
    if (inputArr[i].checked == true) {
      if(inputArr[i].dataset.type === answerRadioArray[3]){
        score+= 25
        break;
      }else {
        $('.courseTask').find('p')[i].style.background="pink"
        $('.courseTask').find('p')[i].innerHTML += "错误"
        break;
      }
    }
  }
  $('.courseTask').append(`<div>总得分：${score}</div>`)
}

function replaceTask() {
  $('.right').replaceWith(courseTask)
  $('.changeCourse').css({"background": "#fff"})
  $('.changeTask').css({"background": "#eee"})
}
function replaceVedio() {
  $('.courseTask').replaceWith(vedio)
  $('.changeTask').css({"background": "#fff"})
  $('.changeCourse').css({"background": "#eee"})
}
function backVedio1() {
  $('.vidioWrapper').replaceWith(backVedio)
}
function replaceVedio2() {
  $('.vidioWrapper').replaceWith(vedio2)
}
function replaceVedio3() {
  $('.vidioWrapper').replaceWith(vedio3)
}
function replaceVedio4() {
  $('.vidioWrapper').replaceWith(vedio4)
}


json = json.split(",");
var jsonLength = json.length
for(var i = 0; i < json.length; i++) {
  if(json[i] === '<%= user._id %>'){
    $('.buy').replaceWith(vedio)
  }
}
if(json[0] === ""){
  jsonLength = jsonLength - 1
}
$('.buyAmount').replaceWith(`<li>已有：${jsonLength} 人参加该课程</li>`)
</script>

<%- include('footer') %>
