<%- include('header') %>

<style>
.buy{
  max-width: 700px;
  margin: 0 auto;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
</style>
<div class="buy">
  <h1><%= course.courseName %></h1>
  <img src="/img/<%= course.cover %>" style="width: 500px; border-radius: 2px">
  <ul>
    <li>作者：<%= course.author %></li>
    <li>详情：<%- course.description %></li>
    <li>购买价格：￥<%- course.price %></li>
    <li class="buyAmount"></li>
    <li style="color: red">提示：此课程你还未参加，请点击按钮立即参加</li>
  </ul>
  <div class="ui vertical animated button" tabindex="0">
    <div class="hidden content">
      <form method="post">
        <input type="submit" class="ui button" value="支付">
      </form>
    </div>
    <div class="visible content">
        <i class="shop icon"></i>
    </div>
  </div>
</div>

<script>
var json = '<%= course.courseUser %>'
var vedio = `
<div class="vidioWrapper" style="width: 620px; margin: 0 auto; text-align: center">
  <video width="600" controls>
    <source src="/img/<%= course.vedio %>" type="video/mp4">
    您的浏览器不支持 HTML5 video 标签
  </video>
</div>`
json = json.split(",");
var jsonLength = json.length
for(var i = 0; i < json.length; i++) {
  if(json[i] === '<%= user._id %>'){
    $('.buy').replaceWith(vedio)
  }
}
if(json[0] === ""){
  jsonLength = jsonLength - 1
}
$('.buyAmount').replaceWith(`<li>已有：${jsonLength}参加</li>`)
</script>

<%- include('footer') %>
